.body{
    background-image: url(https://giffiles.alphacoders.com/223/223282.gif);
}

.peleas-container {
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-image: url(https://giffiles.alphacoders.com/223/223282.gif);
  background-size: cover;
  background-position: center;
  height: auto;
}

.pelea:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.5s ease;
}

.pelea {
  width: 40%;
  height: 400px;
  border: 3px solid rgba(0, 0, 0, 0);
  background-color: rgb(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-left: 170px;
  color: white;
}

.pelea .imagen {
  width: 280px;
  height: 300px;
  border: 3px solid rgba(255, 217, 0, 0);
  box-sizing: border-box;
  overflow: hidden;
}

.pelea .imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.vs {
  font-size: 54px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.titulo-arena{
  font-size: 3rem;
  color: #fff;
  line-height: 1.6;
  width: 300px;
  margin: 0 auto;
  margin-right: 150px;
  
}

h1{
  font-family: "Gravitas One", serif;
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #fff;
  position: relative;
  display: inline-block;
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  /* practicamente copie y pegue la misma animacion del fondo de la pagina principal */
  animation: bright 3s infinite alternate;
}

@keyframes bright {
  0% {
    text-shadow: 0 0 10px rgba(91, 192, 190, 0.3);
  }
  100% {
    text-shadow: 0 0 25px rgba(91, 192, 190, 0.7);
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.8);
  
}

.modal-content {
  background-color: #111;
  margin: 10% auto;
  padding: 20px;
  width: 80%;
  max-width: 900px;
  border-radius: 12px;
  color: white;
}

.close {
  color: red;
  float: right;
  font-size: 28px;
  cursor: pointer;
}

.seleccion-jugadores {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.jugador {
  width: 45%;
  background: #222;
  padding: 1rem;
  border-radius: 10px;
}

.tarjetas {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tarjeta {
  width: 100px;
  height: 140px;
  background-color: #333;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  padding: 0.5rem;
  transition: 0.2s;
}

.tarjeta:hover {
  transform: scale(1.1);
  border-color: yellow;
}
.tarjeta.seleccionada {
  border-color: limegreen;
  box-shadow: 0 0 10px lime;
}
