/*valores predeterminados*/
*{
  padding: 0;
  margin: 0;
  
}

/* Estos son los estilo generales que se les aplica al body */
body {
  margin: 0;
  background-image: url(https://i.pinimg.com/736x/a7/2a/02/a72a022f37c47d8d294e85577737f362.jpg);
  background-size: cover; /* La imagen cubre todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  font-family: 'Montserrat', Arial, sans-serif;
  height: auto;
}

.heroes {
  margin: 5%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  width: 65%;
  gap: 20px;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  padding: 10rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #111113;
  padding: 0 3rem;
  height: 10rem; /* AUMENTADO */
  box-sizing: border-box;
  /* agregue animaciones en el header de aparecer lentamente, los pixeles y el ultimo valor es para el sombreado del header */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 2);
  /*  el segundo valor define los segundos que se demora la animacion */
  animation: apear 1.5s ease-out;
}

/* Este es el keyframe de la animacion apear*/
@keyframes apear {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 10;
    transform: translateY(0);
  }
}

hr{
  border: none;
  height: 3px;
  background-color: #ff6b6b;
  margin: 20px 0;
  border-radius: 2px;
}

.contenedortranspa {
  width: 900px;
  height: 400px;
  background-color: (1,6,7); /* Color de fondo */
  margin: 20px auto; /* Centrado horizontal */
  border-radius: 8px; /* Bordes redondeados */
}

#logo {
  width: 5.5rem;
  border-radius: 50%;
  /* se le añade un diseño de sombreado y de animacion al logo para que destaque, el transition es para que tome forma de circulo en un tiempo determinado */
  transition: all 1s ease;
  /* sombreado de la imagen del logo */
  box-shadow: 0 0 15px rgba(91, 192, 190, 0.3);
  height: auto;
}

/* para que al momento de pasar el cursor por la imagen se haga un efecto de aumento */
#logo:hover {
  transform: scale(1.1);
}

nav {
  flex: 1;
  display: flex;
  justify-content: center; /* CENTRADO */
  gap: 2.5rem;
  margin-right: 5rem;
  margin-left: 1rem;
  margin-right: 45px;
}

.nav-button {
  background-color: transparent;
  padding: 1.2rem 2.2rem; /* MÁS GRANDES */
  font-size: 1.5rem;     /* TEXTO MÁS GRANDE */
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s;
  border: 2px solid #fff;
}

.nav-button:hover{
  background-color: #7d0f0f;
  transform: translateY(-5px);
  transition: all 0.5s ease;
  box-shadow: 0px 10px 20px rgb(191, 196, 201, );
}

.nav-button.active {
  background-color: #07314de2;
  transition: all 0.5s ease;
  color: #ffffff;
  box-shadow: 0px 4px 20px rgb(14, 19, 34) ;
  /* le agregue un keyframe de pulsar para que cuando el usuario le de click se apliquen unos efectos de aminacion y resalte por el shadow */
  animation: pulsar 2s infinite alternate;
}

@keyframes pulsar {
  0% {
    box-shadow: 0px 4px 15px rgba(91, 192, 190, 0.4);
  }
  100% {
    box-shadow: 0px 4px 25px rgba(91, 192, 190, 0.8);
  }
}

.nav-button.active:hover{
  background-color: #650000c7;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  box-shadow: 30px 30px 30px rgb(191, 196, 201, );
}

main {
  padding: 5rem 1.3rem;
  text-align: center;
}

.imagen-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0px;
  overflow: hidden;
  align-items: center;
}

/* toda esta parte es la de la pagina principal con el logo principal y el texto de bienvenida */
.homecont{
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  width: 70rem;
  height: 100%;
  color: white;
  padding: 10rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.imagen-container img {
  width: 20rem;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease;
}

.texto-contenido {
  font-size: 1.5rem;
  color: #fff;
  line-height: 1.6;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



h1{
  font-family: "Gravitas One", serif;
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #fff;
  position: relative;
  display: inline-block;
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  /* practicamente copie y pegue la misma animacion del fondo de la pagina principal */
  animation: 3s infinite alternate;
}

@keyframes bright {
  0% {
    text-shadow: 0 0 10px rgba(91, 192, 190, 0.3);
  }
  100% {
    text-shadow: 0 0 25px rgba(91, 192, 190, 0.7);
  }
}

.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

footer{
  font-style: italic;
  display: flex;
  justify-content: center;
  background-color: #111113;
  padding: 3rem;
  gap: 1rem;
  color: white;
  height: 100%;
}
/*boton del inicio para llevar a arena directamente*/
.botonarena {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  padding: 1.5rem;
  margin-top: 2%;
  background: linear-gradient(135deg, #3a1c6c, rgba(61, 22, 99, 0.925));
  color: white;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(61, 22, 99, 0.4);
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.botonarena a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

.botonarena:hover {
  transform: translateY(-5px);
  background: linear-gradient(135deg, #4e2a8e, #7b42c3);
  box-shadow: 0 12px 25px rgba(61, 22, 99, 0.6);
  cursor: pointer;
}

.botonarena:active {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(61, 22, 99, 0.4);
}

@media (max-width: 768px) {
  .botonarena {
    width: 140px;
    padding: 1.2rem;
  }
}
/*jueguen con los colores del texto del index*/
@keyframes fuego {
  0% {
    text-shadow: 0 0 5px rgb(135, 102, 255), 0 0 10px rgb(61, 22, 170), 0 0 15px rgb(37, 0, 48);
    color: #fff;
  }
  50% {
    text-shadow: 0 0 10px rgb(135, 102, 255), 0 0 20px rgb(61, 22, 170), 0 0 30px rgb(37,0,48);
    color: rgb(45, 8, 59);
  }
  100% {
    text-shadow: 0 0 5px rgb(135, 102, 255), 0 0 10px rgb(61, 22, 170), 0 0 15px rgb(37,0,48);
    color: #fff;
  }
}

.texto-fuego {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  animation: fuego 1s infinite;
  font-family: 'Impact', sans-serif;
  margin-top: 30px;
}
.texto-index-fuego {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  animation: fuego 3s infinite;
  font-family: "Bangers", cursive;
  margin-top: 30px;
}
.contenedor-arena{
  width: 100%;
  height: 100vh;
  background-color: #00000066;
  display: flex;              /* Activa Flexbox */
  flex-direction: row;        /* Alinea en fila (horizontal) */
  justify-content: center;    /* Centra horizontalmente los ítems (opcional) */
  align-items: center;        /* Centra verticalmente los ítems (opcional) */
  gap: 4px;
  flex-wrap: wrap;            /* Permite que los elementos se envuelvan hacia abajo */    
}

.boton-header{
  background-color: rgba(134, 6, 6, 0.829);
}


/* TODO: este responsive tengo que revisarlo porque no esta en rem o dvh */
@media (max-width: 768px) {
  body {
    margin: 0;
    background-size: cover;
    background-position: center;
    height: auto;
    min-height: 100dvh;
    font-size: 1rem;
  }
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    height: auto;
    box-sizing: border-box;
    gap: 1rem;
  }
  #logo {
    width: 4.5rem;
    border-radius: 50%;
    height: auto;
  }
  nav {
    flex: 1;
    display: flex;
    justify-content: center; /* CENTRADO */
    gap: 0.7rem;
    /* el wrap para que aparezcan los 4 sin deslizar la pantalla */
    flex-wrap: wrap;
  }
  .nav-button {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;/* TEXTO MÁS GRANDE */
  }
  main {
    padding: 1.5rem 1rem;
    text-align: center;
  }

.homecont {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  width: 20rem;
  color: white;
  padding: 2rem; 
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: none;        
  box-shadow: none;    
  outline: none;       
}


  .imagen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  .imagen-container img {
    width: 100%;
    max-width: 15rem;
    height: auto;
  }
  .texto-contenido {
    font-size: 1.2rem;
    color: #fff;
    line-height: 1.6;
    max-width: 90%;
    margin: 0 auto;
  }
  h1{
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    position: relative;
    display: inline-block;
  }
}
@media (min-width: 768px) and (max-width: 1550px) {
  #logo {
    width: 4.5rem;
    height: auto;
  }
  .nav-button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
  }

  .homecont {
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    padding: 4rem 2rem;
    font-size: 1rem;
  }
  .texto-contenido {
    max-width: 90%;
  }
  /* .contenedor-arena {
    flex-direction: row;
    gap: 1rem;
  }
  .botonarena {
    width: 150px;
    height: 60px;
  }
  .botonarena h1 {
    font-size: 1rem;
  } */
}


/* explicacion de las animaciones personalizadas. Estructura basica: 
@keyframes nombreDeLaAnimacion {
  0%   { propiedad: valor_inicial; }
  100% { propiedad: valor_final; }
} */

/* Luego se aplica el nombre de la animacion a una clase o aja.
.elemento {
  animation: nombreDeLaAnimacion 2s ease-in-out infinite;
} */